.inlineLabels 
{
    margin:0px;
    border:none;
}
body {
    border-top: 0px;
	background: #edead1;
	color: #434a51;
	font-family: 'Droid Sans', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

#body-container{background-color:#ffffff;}

#s4-bodyContainer {background-color:#ffffff;}

/* Anchor styles */


#signin_instruct a:hover {
	color: #005C96;
}
#body-container a {
	color: #005C96;
	text-decoration: underline;
}

#body-container a:hover, 
#body-container a:focus {
	color: #111111;
}
.ms-cui-gallerybutton-a {
	font-size: 10px;
}
hr,
hr.ms-rteElement-Hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	display:block;
	height:0;	
	background:none ;
}


/* Headers */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	letter-spacing: -1px;
}
h2, h3, h4, h5, h6 {
	margin-bottom: 5px;
}
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
	color: #434a51;
	text-decoration: underline;
}
#site-footer h5 a:link {
	text-decoration: none;
}
#site-footer h5 a:hover {
	text-decoration: underline;
}
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
	color: #434a51;
}
h1, h1.ms-rteElement-H1 {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 10px;
}
h2, h2.ms-rteElement-H2 {
	font-size: 21px;
}
h3, h3.ms-rteElement-H3 {
	font-size: 16px;
}
h4 ,h4.ms-rteElement-H4{
	font-size: 14px;
}
h5, h5.ms-rteElement-H5 {
    -ms-name:"Heading 5";
	font-family: Georgia, sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	width: 95%;
}
h6 {
	font-size: 14px;
	background: #efe6b3;
	width: 92%;
	font-weight: normal;
	letter-spacing: .5px;
}
h6:after { 
	content: " <-- Tab Name";
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
}


/* Lists */

#page-body ul, #page-body ol {
	margin: -6px 0 20px 10px;
}
#page-body ul li, #page-body ol li {
	margin-left: 15px;
	padding-left: 5px;
}
#page-body ul li {
	list-style-type: disc;
}
#page-body ul ul {
	margin: 2px 0 5px 20px;
}
#page-body ul ul li {
	list-style-type: circle;
}
#page-body ol ol {
	margin: 2px 0 5px 27px;
}
#page-body ol ol li {
	list-style-type: lower-roman;
}
#page-body ol ul {
	margin: 2px 0 5px 20px;
}


/* Body copy Styles */

blockquote {
	color: #333;
	font-style: italic;
	margin: 0 0 0 40px;
	border-left: 2px solid #ccc;
	padding: 0 0 0 20px;
	width: 85%;
}
blockquote.ms-rteElement-DePaulBlockQuote {
	-ms-name:"Block Quote"; 
	color: #333;
	font-style: italic;
	margin: 0 0 0 40px;
	border-left: 2px solid #ccc;
	padding: 0 0 0 20px;
	width: 85%;
}
abbr {
	border-bottom: 1px dotted #333;
	cursor:help;
}
code {	color: #666;}

pre {
	color: #666;
	display: block;
	margin: 0 0 10px 0;
}

del {color: #999;}

ins {font-style: italic;}

dt {font-weight: bold;}

dd {
	margin: 0 0 10px 0;
	padding-left: 10px;
}


/* Selection */

::-webkit-selection {
	color: #473712;
	background: #ead147;
}
::-moz-selection {
	color: #473712;
	background: #ead147;
}
::selection {
	color: #473712;
	background: #ead147;
}



/* Auth specific styles */


#body-container.auth-form {
	width: 660px; 
	height: 495px; 
	margin: -248px 0px 0px -330px; 
	position: absolute; top: 50%; left: 50%; 
	}
	
#dpu-logo {
	background:transparent url('../images/logo.png') no-repeat scroll center center; 
	width: 297px; 
	height: 495px; 
	position:absolute;
	}
	
#left {
	width: 297px; 
	height: 495px;
	float: left; 
	background: url("../images/leftcolbg.png");
	}
	
#right {
	width: 362px; 
	height: 493px; 
    border-top: 1px solid #afafaa;
	border-bottom: 1px solid #afafaa;
	border-right: 1px solid #afafaa;
	background: #ecf0eb;
	overflow:auto;
	}

.login-center{
	width: 300px;
	margin: 20px auto 0;
	}
	
.login-center p, #dpu-footer p {
	font-size: 11px; 
	color: #a1a19d; 
	line-height: 1.5;
	}
	
#dpu-info {margin-bottom: 35px;}

#form-container{min-height:100px;}

#dpu-LoginFormInner {
	background: none;
	border: none;
	padding:0;
	font-size: 12px;
	}
	
#dpu-footer {
	padding-top: 15px; 
	bottom:0; 
	position:absolute; 
	padding-bottom: 5px;
	}

#dpu-footer p {
	margin: 0px 0px 5px 19px; 
	color: #ffffff; 
	text-align:center; 
	font-size:10px;
	}

#dpu-footer a {color: #ffffff; text-decoration:none;}

#dpu-footer a:hover {color: #ffffff; text-decoration:underline;}

#dpu-SiteContainer fieldset
{
    margin-bottom:20px;
}
#dpu-LoginFormInner .ctrlHolder {
/*	float: left; */
}
#dpu-LoginFormInner .ctrlHolder input {
	border: 1px solid #a7abae;
	padding: 0px;
	border-radius: 3px;
	font-size: 12px;
	margin-bottom: 14px;
	padding-bottom: 2px;
	padding-left:5px;
	line-height: 27px;
}
.ctrlHolder label {
	float: left;
	width: 100%;
	margin: 0 0 7px 0;
	font-size: 14px;
}

#password {width: 220px; height: 27px;}
#username {width: 220px; height: 27px;}

.btn-submit, .btn-reset
{
    font-size: 13px!important;
	font-weight: normal!important;
	width: 117px;
	height: 26px;
	color: #fff;
	font-weight: bold;
	background: #74cd00; /* Old browsers */
	background: -moz-linear-gradient(top, #74cd00 0%, #4c8700 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#74cd00), color-stop(100%,#4c8700)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #74cd00 0%,#4c8700 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #74cd00 0%,#4c8700 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #74cd00 0%,#4c8700 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74cd00', endColorstr='#4c8700',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #74cd00 0%,#4c8700 100%); /* W3C */
}
.btn-submit:hover, .btn-reset:hover
{
    background: #4e8900;
	text-decoration: underline;
	cursor: pointer;
}
.btn-reset
{   
    width: 56px;
}
#signin_instruct {
	font-size: 11px;
	float: left;
	width: 100%;
	margin: -5px 0 0 2px;
}

#status
{
    margin: 0 0 20px 0;
	border: 1px solid #afafaa;
	font-size: 12px;
	padding: 20px;
	padding-left: 50px;
	min-height: 45px;
	height: auto!important;
	height: 45px;
}
.errors {
    font-weight: bold;
	color: #f83e3e;
	border: 1px solid #afafaa!important;
	background: #ffffd5 url(../images/sprite-icon-warning.png) 20px 23px no-repeat;
}

#right .errors a {
	color: #D21033;
}

input.error
{
	border: 1px solid #f83e3e!important;
	background: #ffffd5;
	float:left;
}
.xicon {width: 14px; height: 27px; float: left; padding: 7px 5px 0px 5px;background:transparent url('../images/sprite-icon-warning.png') -580px 8px no-repeat scroll;}
